<h2><%= _("Login or %{signup}") % {:signup => link_to(_("Sign up"), :controller => :account, :action => :signup)} %></h2>
<% form_tag do -%>
<p><label for="login"><%=h _("Login")%></label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password"><%=h _("Password") %></label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me"><%=h _("Remember me")%></label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag _('Log in') %></p>
<% end -%>
