<h2>Create New Branch in Repository <%=h @branch.repository.name %></h2>
<% form_tag do %>
  <%= error_messages_for :branch %>
  <table>
    <%= render :partial => 'form' %>
    <tr><td>
	<%= submit_tag _("Update Branch") %>
    </td></tr>
  </table>
<% end %>
